body{
    height: 100%;
}
::-webkit-scrollbar{
    display:none;
}
.back_header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #23262e;
    width: 100%;
    height: 55px;
    padding: 10px 20px;
    vertical-align: middle;
}
.back_header span{
    margin: 0 10px;
}
.back_header a{
     color: white;
     font-size: 14px;
     font-weight: bold;
     text-decoration: none;
 }
.back_header .header_Bigtitle{
    display: inline-block;
    color: #009688;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
}
.back_navigation{
    z-index: 999;
    position: fixed;
    left: 0;
    top: 55px;
    width: 200px;
    /*height: 614px;*/
    background-color: #393d49;
    overflow: scroll;
}
.back_navigation a{
    color: #bdbec1;
    font-size: 14px;
    text-decoration: none;
}
.back_navigation .accordion .accordion-heading{
    /*margin: 10px 0;*/
    height: 50px;
    padding: 10px  ;
    background-color: #393d49;
    position: relative;
}
.back_navigation .accordion .accordion-heading:hover{
    background: #bcbdc1;
    color: white;
}
.back_navigation .accordion .accordion-group .accordion-body{
    /*margin: 10px 20px;*/
    background-color: #23262e;

}
.back_navigation .accordion .accordion-group .accordion-body .accordion-inner{
    margin: 30px 20px;
}
.back_navigation .accordion .accordion-group .accordion-body .accordion-inner:hover{
    color: white;
}
.triangle-down {
    position: absolute;
    left: 170px;
    top: 14px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid white;
}
.breadcrumb{
    background-color: #f2f2f2;
    height: 50px;
    border-left: #009688 5px solid;
}
.alarm{
    color: red;
    margin-left: 7px;
}
#deleteArticleModel .modal-dialog .modal-content,#deleteNoticeModel .modal-dialog .modal-content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.page{
    text-align: center;
}