<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.lh.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_nick_name" jdbcType="VARCHAR" property="userNickName" />
    <result column="user_photo" jdbcType="VARCHAR" property="userPhoto" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_url" jdbcType="VARCHAR" property="userUrl" />
    <result column="user_ip" jdbcType="VARCHAR" property="userIp" />
    <result column="user_register_date" jdbcType="TIMESTAMP" property="userRegisterDate" />
    <result column="user_login_time" jdbcType="TIMESTAMP" property="userLoginTime" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="user_rights" jdbcType="INTEGER" property="userRights" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_name, user_password, user_nick_name, user_photo, user_email, user_url, user_ip, 
    user_register_date, user_login_time, user_status, user_rights
  </sql>
  <select id="selectByExample" parameterType="com.lh.bean.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from user_
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lh.bean.User" useGeneratedKeys="true">
    insert into user_ (user_name, user_password, user_nick_name, 
      user_photo, user_email, user_url, 
      user_ip, user_register_date, user_login_time, 
      user_status, user_rights)
    values (#{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userNickName,jdbcType=VARCHAR}, 
      #{userPhoto,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userUrl,jdbcType=VARCHAR}, 
      #{userIp,jdbcType=VARCHAR}, #{userRegisterDate,jdbcType=TIMESTAMP}, #{userLoginTime,jdbcType=TIMESTAMP}, 
      #{userStatus,jdbcType=INTEGER}, #{userRights,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lh.bean.User" useGeneratedKeys="true">
    insert into user_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userNickName != null">
        user_nick_name,
      </if>
      <if test="userPhoto != null">
        user_photo,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userUrl != null">
        user_url,
      </if>
      <if test="userIp != null">
        user_ip,
      </if>
      <if test="userRegisterDate != null">
        user_register_date,
      </if>
      <if test="userLoginTime != null">
        user_login_time,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="userRights != null">
        user_rights,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null">
        #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userPhoto != null">
        #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userUrl != null">
        #{userUrl,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null">
        #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="userRegisterDate != null">
        #{userRegisterDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userLoginTime != null">
        #{userLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userRights != null">
        #{userRights,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lh.bean.User">
    update user_
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickName != null">
        user_nick_name = #{userNickName,jdbcType=VARCHAR},
      </if>
      <if test="userPhoto != null">
        user_photo = #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userUrl != null">
        user_url = #{userUrl,jdbcType=VARCHAR},
      </if>
      <if test="userIp != null">
        user_ip = #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="userRegisterDate != null">
        user_register_date = #{userRegisterDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userLoginTime != null">
        user_login_time = #{userLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="userRights != null">
        user_rights = #{userRights,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lh.bean.User">
    update user_
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_nick_name = #{userNickName,jdbcType=VARCHAR},
      user_photo = #{userPhoto,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_url = #{userUrl,jdbcType=VARCHAR},
      user_ip = #{userIp,jdbcType=VARCHAR},
      user_register_date = #{userRegisterDate,jdbcType=TIMESTAMP},
      user_login_time = #{userLoginTime,jdbcType=TIMESTAMP},
      user_status = #{userStatus,jdbcType=INTEGER},
      user_rights = #{userRights,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>